.l_container {
  height: 100%;
  padding: 16px;
  background-color: rgb(var(--color-black));
  border-radius: 8px;
}

.l_container_other {
  min-height: calc(100vh - 16px);
  padding: 16px;
  background-color: rgb(var(--color-black));
  border-radius: 8px;
}