.c_code_block{
  position: relative;
  background-color: #282c34;
  padding: calc(var(--base-px) / 2 * 1px);
  border-radius: calc(var(--base-px) / 2 * 1px);
  max-height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  pre{
    padding: calc(var(--base-px)/2*1px);
  }
  .c_icon_copy{
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
  }
}