.c_breadcrumbs {
  display: flex;
  font-size: 1.4rem;

  &_item {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 24px;

    &_link {
      display: block;
    }

    &::before {
      position: absolute;
      top: 50%;
      right: 9px;
      display: block;
      content: "-";
      transform: translateY(-50%);
    }

    &_disabled {
      pointer-events: none;
      opacity: .5;

      &::before {
        content: none;
      }
    }
  }

  &_hidden {
    display: none;
  }

  &+* {
    margin-top: 32px;
  }

  &.c_breadcrumbs_hidden {
    &+* {
      margin-top: 0;
    }
  }
}