.c_starting_style_item_ver_animation {
  &.is_active {
    display: block;
    animation: ani 3s ease-in-out infinite alternate;
  }
}

@keyframes ani {
  0% {
    display: block;
    width: 0%;
  }

  100% {
    display: block;
    width: 100%;
  }
}