.c_starting_style {
  width: 200px;
  height: 50px;
  border: 1px solid #fff;
	&_item{
    display: none;
    width: 0%;
    height: 100%;
    background-color: #fff;
    &_ver_animation{
      &.is_active{
        display: block;
        animation: ani 3s ease-in-out infinite alternate;
      }
    }
    &_ver_transition{
      transition: width 3s ease-in-out;
      &.is_active{
        display: block;
        width: 100%;
        &.starting-style{
          @starting-style {
            width: 0%;
          }
        }
      }
    }
  }
}

@keyframes ani {
  0%{
    display: block;
    width: 0%;
  }
  100%{
    display: block;
    width: 100%;
  }
}