.c_starting_style_item_ver_transition {
	transition: width 3s ease-in-out;
  &.is_active{
    display: block;
    width: 100%;
    &.starting-style{
      @starting-style {
        width: 0%;
      }
    }
  }
}