.c_system_message {
  position: fixed;
  right: 0;
  bottom: 16px;
  left: 0;
  z-index: 999;
  font-size: 0;
  text-align: center;
  visibility: hidden;
  opacity: 0;

  &_item {
    display: inline-block;
    padding: calc(var(--base-px)*1px) calc(var(--base-px)*3px);
    font-size: 1.6rem;
    background-color: var(--color-black-default);
    border: 1px solid rgba(var(--color-white), 0.3);
    border-radius: 100px;
  }

  &.is_active {
    visibility: visible;
    opacity: 1;
  }
}

.c_success_message {
  color: rgb(var(--color-green-light));
}