.c_h1{
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  &_inner_underline{
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
    &::before{
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      display: block;
      width: 70px;
      height: 3px;
      background-color: #fff;
      transform: translateX(-50%);
    }
  }
}