.l_check_box_list{
  &:has(+ .c_text_error){
    color: rgb(var(--color-red-error));
    .c_check_box{
      border-color: rgb(var(--color-red-error));
      &::before{
        background-color: rgb(var(--color-red-error));;
      }
      &::after{
        background-color: rgb(var(--color-red-error));;
      }
    }
  }
}