.m_todo_list{
  display: block;
  &_item{
    display: flex;
    gap: 16px;
    &_num{
      width: 2rem;
      text-align: right;
    }
    &_date{
      font-size: calc(var(--base-px)*1.7px);
    }
    &_checkbox{
      position: relative;
      width: 20px;
      height: 20px;
      border: 1px solid rgb(var(--color-white));
      &:checked{
        &::before{
          content: "";
          position: absolute;
          top: 9px;
          left: 2px;
          width: 6px;
          height: 2px;
          background-color: rgb(var(--color-white));
          transform: rotate(45deg);
        }
        &::after{
          content: "";
          position: absolute;
          top: 7px;
          left: 5px;
          width: 10px;
          height: 2px;
          background-color: rgb(var(--color-white));
          transform: rotate(-45deg);
        }
      }
    }
    &+.m_todo_list_item{
      margin-top: 8px;
    }
  }
}

.m_todo_input{
  width: 250px;
  border: 1px solid #fff;
  color: #fff;
  padding: calc(var(--base-px)/2*1px) calc(var(--base-px)*1px);
  font-size: calc(var(--base-px)*1.8px);
}

.m_todo_input_button{
  margin-left: calc(var(--base-px)*2px);
  padding: calc(var(--base-px)/2*1px) calc(var(--base-px)*1px);
  border: 1px solid #fff;
  font-size: calc(var(--base-px)*1.8px);
}